{{ header }} {{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-rozetkapay" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                
                <form action="{{ action }}" method="post" autocomplete="off" enctype="multipart/form-data" id="form-rozetkapay" class="form-horizontal">

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-general" data-toggle="tab"><i class="fa fa-cogs text-primary"></i> {{ tab_general }}</a></li>
                        <li><a href="#tab-order_status" data-toggle="tab" aria-expanded="false"> {{ text_tab_order_status }}</a></li>
                        <li><a href="#tab-view" data-toggle="tab" aria-expanded="false"><i class="fa fa-globe" aria-hidden="true"></i> {{ text_tab_view }}</a></li>
                        <li><a href="#tab-test" data-toggle="tab" aria-expanded="false"><i class="fa fa-bug" aria-hidden="true"></i> {{ text_tab_test }}</a></li>
                    </ul>
                    
                    <div class="tab-content">
                        
                        <div class="tab-pane active" id="tab-general">
                            
                            <div class="form-group required">
                                <label class="col-sm-2 control-label">{{ entry_login }}</label>
                                <div class="col-sm-8">
                                    <input type="password" name="payment_rozetkapay_login" autocomplete="off" value="{{ payment_rozetkapay_login }}" class="form-control"/>
                                    {% if error_login %} 
                                        <div class="text-danger">{{ error_login }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label">{{ entry_password }}</label>
                                <div class="col-sm-8">
                                    <input type="password" name="payment_rozetkapay_password" autocomplete="off" value="{{ payment_rozetkapay_password }}" class="form-control"/>
                                    {% if error_password %}
                                        <div class="text-danger">{{ error_password }}</div>
                                    {% endif %}
                                </div>
                            </div>
                                
                            
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_qrcode_status }}</label>
                                <div class="col-sm-2">
                                    <select name="payment_rozetkapay_qrcode_status" class="form-control">
                                        {% if payment_rozetkapay_qrcode_status %}
                                        <option value="1" selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                                    
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_send_info_customer_status }}</label>
                                <div class="col-sm-2">
                                    <select name="payment_rozetkapay_send_info_customer_status" class="form-control">
                                        {% if payment_rozetkapay_send_info_customer_status %}
                                        <option value="1" selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                                    
                                <label class="col-sm-2 control-label">{{ entry_send_info_products_status }}</label>
                                <div class="col-sm-2">
                                    <select name="payment_rozetkapay_send_info_products_status" class="form-control">
                                        {% if payment_rozetkapay_send_info_products_status %}
                                        <option value="1" selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_geo_zone }}</label>
                                <div class="col-sm-4">
                                    <select name="payment_rozetkapay_geo_zone_id" class="form-control">
                                        <option value="0">{{ text_all_zones }}</option>
                                        {% for geo_zone in geo_zones %}
                                            {% if geo_zone.geo_zone_id == rozetkapay_geo_zone_id %}
                                                <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                                            {% else %}
                                                <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                                    
                            <div class="form-group">
                                    
                                <label class="col-sm-2 control-label">{{ text_currency_detect }}</label>
                                <div class="col-sm-4">
                                    <select name="payment_rozetkapay_currency_detect" class="form-control">
                                        {% for currency in currencys %}
                                            <option value="{{ currency.id }}"
                                            {{ payment_rozetkapay_currency_detect == currency.id ? 
                                                'selected="selected"':'' }}>{{ currency.name }}</option>                                            
                                        {% endfor %}
                                    </select>
                                </div>
                                    
                                <label class="col-sm-2 control-label">{{ text_language_detect }}</label>
                                <div class="col-sm-4">
                                    <select name="payment_rozetkapay_language_detect" class="form-control">
                                        {% for language in rpay_languages %}
                                            <option value="{{ language.id }}"
                                            {{ payment_rozetkapay_language_detect == language.id ? 
                                                'selected="selected"':'' }}>{{ language.name }}</option>                                            
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_status }}</label>
                                <div class="col-sm-2">
                                    <select name="payment_rozetkapay_status" class="form-control">
                                        {% if  payment_rozetkapay_status == 0 %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1"  selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_sort_order }}</label>
                                <div class="col-sm-2">
                                    <input type="text" name="payment_rozetkapay_sort_order" value="{{ payment_rozetkapay_sort_order }}" class="form-control"/>
                                </div>
                            </div>
                        </div> 

                        <div class="tab-pane" id="tab-order_status">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_order_status_init }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_rozetkapay_order_status_init" class="form-control">
                                        <option value="0" {{ payment_rozetkapay_order_status_init == "0" ? 'selected="selected"':'' }}
                                                >---</option>
                                    {% for order_status in order_statuses %}
                                        <option value="{{ order_status.order_status_id }}"
                                        {% if  payment_rozetkapay_order_status_init == order_status.order_status_id %}
                                                    selected="selected"{% endif %}>{{ order_status.name }}</option>                                        
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_order_status_pending }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_rozetkapay_order_status_pending" class="form-control">
                                        <option value="0" {{ payment_rozetkapay_order_status_pending == "0" ? 'selected="selected"':'' }}
                                                >---</option>
                                        {% for order_status in order_statuses %}
                                        <option value="{{ order_status.order_status_id }}"
                                        {% if  payment_rozetkapay_order_status_pending == order_status.order_status_id %}
                                                    selected="selected"{% endif %}>{{ order_status.name }}</option>                                        
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="form-group required">
                                <label class="col-sm-2 control-label">{{ text_order_status_success }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_rozetkapay_order_status_success" class="form-control">
                                        {% for order_status in order_statuses %}
                                        <option value="{{ order_status.order_status_id }}"
                                        {% if  payment_rozetkapay_order_status_success == order_status.order_status_id %}
                                                    selected="selected"{% endif %}>{{ order_status.name }}</option>                                        
                                    {% endfor %}
                                    </select>
                                    {% if error_order_status_success %} 
                                        <div class="text-danger">{{ error_order_status_success }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group required">
                                <label class="col-sm-2 control-label">{{ text_order_status_failure }}</label>
                                <div class="col-sm-10">
                                    <select name="payment_rozetkapay_order_status_failure" class="form-control">
                                       {% for order_status in order_statuses %}
                                        <option value="{{ order_status.order_status_id }}"
                                        {% if  payment_rozetkapay_order_status_failure == order_status.order_status_id %}
                                                    selected="selected"{% endif %}>{{ order_status.name }}</option>                                        
                                    {% endfor %}
                                    </select>
                                    {% if error_order_status_failure %} 
                                        <div class="text-danger">{{ error_order_status_failure }}</div>
                                    {% endif %}
                                </div>
                            </div>

                        </div> 
                                
                        <div class="tab-pane" id="tab-view">
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_view_title_default }}</label>
                                <div class="col-sm-2">
                                    <select name="payment_rozetkapay_view_title_default" class="form-control">
                                        {% if  payment_rozetkapay_view_title_default == 0 %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1"  selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{ text_view_title }}</label>
                                <div class="col-sm-10">
                                    {% for language in languages %}
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />
                                            </span>
                                            <input type="text" name="payment_rozetkapay_view_title[{{ language.language_id }}]" 
                                                   value="{{ payment_rozetkapay_view_title[language.language_id] }}" class="form-control" />
                                        </div>
                                        {% if error_title[language.language_id] %}
                                            <div class="text-danger">{{ error_title[language.language_id] }}</div>
                                        {% endif %}
                                    {% endfor %}                                    
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{ text_view_icon_status }} 
                                    <img src="/catalog/view/theme/default/image/rpay.png" height="32">
                                </label>
                                <div class="col-sm-2">
                                    <select name="payment_rozetkapay_view_icon_status" class="form-control">
                                        {% if  payment_rozetkapay_view_icon_status == 0 %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1"  selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                                    
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> {{ text_view_language_detect }}</label>
                                <div class="col-sm-2">
                                    <select name="payment_rozetkapay_view_language_detect" class="form-control">
                                        {% for language in rpay_languages %}
                                            <option value="{{ language.id }}" 
                                                {{ payment_rozetkapay_view_language_detect == language.id ? 'selected="selected"' : "" }}
                                                    >{{ language.name }}</option>                                        
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="tab-pane" id="tab-test">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="alert alert-warning alert-dismissible">
                                        <i class="fa fa-exclamation-circle"></i> {{ text_help_test }}
                                    </div>
                                </div>
                            </div>
                            
                             <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_status }}</label>
                                <div class="col-sm-2">
                                    <select name="payment_rozetkapay_test_status" class="form-control">
                                        {% if payment_rozetkapay_test_status %}
                                        <option value="1" selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ entry_log_status }}</label>
                                <div class="col-sm-2">
                                    <select name="payment_rozetkapay_log_status" class="form-control">
                                        {% if payment_rozetkapay_log_status %}
                                        <option value="1" selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ text_test_cards }}</label>
                                <div class="col-sm-10">
                                    <div class="well well-sm">
                                        card=4242424242424242  exp=any cvv=any  3ds=Yes result=success<br>
                                        card=5454545454545454  exp=any cvv=any  3ds=Yes result=success<br>
                                        card=4111111111111111  exp=any cvv=any  3ds=No result=success<br>
                                        card=4200000000000000  exp=any cvv=any  3ds=Yes result=rejected<br>
                                        card=5105105105105100  exp=any cvv=any  3ds=Yes result=rejected<br>
                                        card=4444333322221111  exp=any cvv=any  3ds=No result=rejected<br>
                                        card=5100000020002000  exp=any cvv=any  3ds=No result=rejected<br>
                                        card=4000000000000044  exp=any cvv=any  3ds=No result=insufficient-funds<br>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-exclamation-triangle"></i> {{ text_test_log_title }}</h3>
                                    <div class="pull-right">
                                        <a id="log_refresh" onclick="nt_log_refresh()" data-toggle="tooltip" class="btn btn-warning">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a href="{{ href_log_download }}" data-toggle="tooltip" class="btn btn-primary">
                                            <i class="fa fa-download"></i>
                                        </a>
                                        <a onclick="confirm('{{ ext_confirm }}') ? location = '{{ href_log_clear }}' : false;" data-toggle="tooltip" class="btn btn-danger">
                                            <i class="fa fa-eraser"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <textarea wrap="off" rows="15" readonly class="form-control">{{ log }}</textarea>
                                </div>
                            </div>
                            
                        </div>
                    </div> 

                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function nt_log_refresh(){
        let but = $('#log_refresh')
        $('#log_warning').hide()
        $.ajax({
            url: '/admin/index.php?route=<?=$path;?>/logrefresh<?=$tokenUrl;?>',
            dataType: 'json',
            beforeSend: function () {
                but.hide()
            },
            complete: function () {
                but.show()
            },
            success: function (json) {                
                but.show()
                if(json.ok){
                    
                }else{
                    $('#log_warning_text').text(json.warning)
                    $('#log_warning').show()
                }
                $('#log').text(json.log)
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr);
            }
        });
        return false;
    }
    nt_log_refresh();
$('.nav.nav-tabs a:first').tab('show');
</script>

{{ footer }}
